.title-main {
    font-family: "Heiti SC";
    font-size: large;
    color: black;
    font-style: italic;
    margin-top: 100px;
}
.main-content {
    width: 100%;
    float: left;
}

.main-content-heading {
    width: 45%;
    float: left;
    margin: 150px 50px;
}
.main-content-img {
    width: 40%;
    float: left;
    margin: 150px 50px;
}
#A {
    background: #282A35;
}

#B {
    background: #D9EEE1!important ;
}
#A::after {
    content: "";
    position: relative;
    left: -3rem;
    /* padding * -1 */
    top: calc( 3rem - 4rem / 2);
    /* padding - height/2 */
    float: left;
    display: block;
    height: 4rem;
    width: 100vw;
    background: hsla(0, 0%, 100%, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %23D9EEE1;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %23282A35;'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
}


/** Cosmetics **/

* {
    margin: 0;
}
#A,
#B {
    padding: 3rem;
}

div {
    font-family: monospace;
    font-size: 1.2rem;
    line-height: 1.2;
}

#A {
    color: white;
}
.home-search {
    width: 100%;
    height: 300px;
    background: #282A35!important
}
.home-add-voice {
    width: 100%;
    height: 500px;
    background: #D9EEE1;
}
.home-search-title {
    padding-top: 100px;
    padding-bottom: 5px;
    color: white!important;
    text-align: center!important;
    font-size: 50px;
    font-weight: 700;
    font-family: "Source Code Pro";
}
.home-search-subtitle {
    color: #FFC0C7;
    font-weight: 700;
    margin-top: 30px!important;
    font-size: 23px;
    font-family: "Source Code Pro";
}
.home-search-form {
    margin: auto;
    max-width: 500px;
    position: relative;
    margin-top: 20px;
    box-sizing: inherit;
}
.home-search-box {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px;
    float: left;
    width: 72%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}
.home-search-button {
    border-radius: 25px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.home-add-title {
    padding-bottom: 5px;
    color: black!important;
    text-align: center!important;
    font-size: 30px;
    font-weight: 700;
    font-family: "Source Code Pro";
}
.record-section {
    max-width: 500px;
    position: relative;
    height: auto;
    border-radius: 5px;
    background: white;
}
.record-section-img {
    margin-top: 40px;
}
.record-button {
    background: darkred;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    font-style: italic;
    font-family: "Source Code Pro";
}
.home-text-content{
    background: white!important;
    font-family: "Source Code Pro";
    margin-left: 200px;
    border-radius: 5px;
    color: black;
    text-align: center!important;

}
.home-text-content h2 {
    font-family: "Source Code Pro";
    color: black;
    padding-top: 20px;
}
.icon-details {
    padding-top: 20px;
    padding-bottom: 20px;
}
.small-text {
    font-family: "Source Code Pro";
    color: black;
    font-size: medium;
}
.ns-signin {
    width: 100px;
    background: lightgreen;
    color: black;
    font-family: "Source Code Pro";
    font-weight: bold;
    border-radius: 10px;
}
.logout-button {
    width: 100px;
    background: lightgreen;
    color: black;
    margin-top:25px;
    margin-right: 20px;
    font-family: "Source Code Pro";
    font-weight: bold;
    border-radius: 10px;
}
.top-menu {
    color: black;
    margin-right: 40px;
    font-family: "Source Code Pro";
    font-weight: bold;
}