.main-footer {
    height: 70px;
    background: lightsteelblue;
    width: 100%;
    color: white;
    margin: auto;

}
.main-footer h1 {
    color: white;
    font-family: "Source Code Pro";
    padding-top: 20px;
    font-size: x-large;
}
.left-content-footer {
    margin-top: 20px;
    color: black;
    font-family: "Source Code Pro";
    font-size: large;
}